<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="/users">Users</a></li>
    <li class="breadcrumb-item active" aria-current="page">New</li>
  </ol>
</nav>

<div class="row">
  <div class="col">&nbsp</div>
  <div class="col-6">
    <h1 class="text-center">Create a new Post</h1>
    <% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
    <% end -%>
    <%= form_with model: [:user, @post], data: { turbo: false }, local: true do |f| %>
      <div class="form-group col">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %><br>
        <%= f.label :text %><br>
        <%= f.text_area :text, class: 'form-control' %><br>
        <%= f.submit "Create Post", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>    
  <div class="col">&nbsp</div>
</div>