<<<<<<< HEAD

<div class="comments-page">
    <h5><%=  @post.title %> by <%= @user.name%></h5>

    <div class="comments-details">
        <p><strong>Text:</strong><%= @post.text %></p>

        <div class="comments-post">
            <p class="card-text"><strong>Comments:</strong> <%= @post.comments_counter %></p>
            <%= form_for [@post, Like.new], url: post_likes_path(@post) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.submit "Like", class: "like-button" %>
            <% end %>
            <p class="card-text"><strong>Likes:</strong> <%= @post.likes_counter %></p>
        </div>
    </div>

    <!-- app/views/posts/show.html.erb -->

    <%= link_to "Add Comment", new_post_comment_path(@post), class: "comment-link" %>


    <h2>Comments</h2>
    <% @post.comments.each do | comment |%>
        <%= render 'shared/comment', comment: comment%>
    <% end %>

=======
<% user = User.find(params[:user_id]) %>

<div class="my-4 p-5 rounded border border-1">
  <div class="d-flex align-items-center justify-content-between">
    <h3><%= @post.title %> by <%= user.name %></h3>
    <div class="text-end">
      <span class="border border-1 p-1 me-4 bg-info">
        Comments: <%= @post.comments_counter.nil? ? " 0 " :
        @post.comments_counter %>
      </span>
      <span class="border border-1 p-1 bg-info">
        Likes: <%= @post.likes_counter.nil? ? "0" : @post.likes_counter %>
      </span>
    </div>
  </div>
  <hr>
  <p class="pt-5"><%= @post.text %></p>
</div>
<div class="text-success">
  <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <% end -%>
</div>
<div class="border border-1 p-2">
  <% @post.all_comments.each do |post| %>
    <p><%= post.nil? ? "No comment" : user.name + " : " + post.text %></p>
  <% end %>
</div>

<div class="d-flex my-2">
  <%= render partial: "likes/like_action", locals: { post: @post }, class: 'mx-4' %>
  <%= link_to 'New Comment', new_user_post_comment_path(post_id: params[:id]), class: "mx-4 btn btn-primary" %>
>>>>>>> 6640f6b7b802eb5598e9fb7de6d1b37490b95fd9
</div>